.btn-outline-dark{
    float: right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.testes{
    margin: 10px;

}

.right{
    float:right;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
